<section class="ui raised segment">
    <header class="ui header">

    </header>
    <table class=" ui single line celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Trend</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {{#each memberlist.assessments}}
            <tr>
                <td>{{date}}</td>
                <td>{{weight}}</td>
                <td>{{chest}} </td>
                <td>{{thigh}}</td>
                <td>{{upperarm}}</td>
                <td>{{waist}}</td>
                <td>{{hips}}</td>
                <td>
                    <a class="ui {{trend}} tag label"></a>
                   </td>
                <td>{{comment}}</td>
                <td>
                    <a href="/dashboard/{{../memberlist.id}}/deleteAssessment/{{id}}" class="ui icon button">
                        <i class="icon trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div id={{timer}}>
        <div id="days"></div>
        <div id="hours"></div>
        <div id="minutes"></div>
        <div id="seconds"></div>
    </div>
</section>
